<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BeeFramework.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name="com.BeeFramework.BeeFrameworkApp"
        android:icon="@drawable/beelogo"
        android:label="@string/app_name"
        android:theme="@style/customTheme" >
        <activity
            android:name="com.BeeFramework.activity.DebugTabActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BeeFramework.activity.ActivityLifeCycleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BeeFramework.activity.DebugMessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BeeFramework.activity.DebugDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BeeFramework.activity.MemoryMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BeeFramework.activity.FloatViewSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BeeFramework.activity.CrashLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BeeFramework.activity.CrashLogDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.activity.TrendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BeeFramework.activity.DebugCancelDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialog" />
        <activity
            android:name="com.example.activity.TeamIntroduction"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BeeFramework.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.activity.GalleryImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.activity.ShotListActivity"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="com.example.activity.HomeTabActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.activity.CommentListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.PhotoDetailActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.BeeFramework.service.MemoryService" >
            <intent-filter android:priority="1000" >
                <action android:name="com.BeeFramework.MemoryService" />
            </intent-filter>
        </service>
        <service android:name="com.BeeFramework.service.NetworkStateService" >
            <intent-filter android:priority="1000" >
                <action android:name="com.BeeFramework.NetworkState.Service" /> <!-- 在BeeFrameworkApp中启动，action的name自定义，但与启动service的action的name一致 -->
            </intent-filter>
        </service>

        <activity
            android:name="com.example.activity.ShotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.activity.LikeShotListActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.activity.ThemeDownloadActivity"
                  android:screenOrientation="portrait" />
        <activity
                android:name="com.example.activity.ProfileActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.example.activity.FollowersActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.example.activity.FollowingActivity"
                android:screenOrientation="portrait" />

    </application>

</manifest>